.courses {
  @include flexColumn(space-evenly, center);
  width: 100%;
  height: calc(100vh - 4rem);
  margin: 4rem auto;
  overflow-y: auto;
  gap: 0.5rem;

  @media (max-width: 516px) {
    display: grid;
    justify-items: center;
  }

  .course-details-container {
    @include flex(space-between, center);
    padding: 0.5rem 1rem;
    width: 100%;
    border-bottom: 1px solid #ccc;

    @media (max-width: 516px) {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      margin-top: 1rem;
      gap: 0.5rem;
    }
  }

  span {
    display: block;
    margin: 0;
    padding: 0;
    font-weight: bold;
  }

  h2 {
    color: $myBlue;
    margin: 0;
    padding: 0;
  }

  button {
    background-color: $myBlue;
    color: #fff;
    border: none;
    padding: 0.75rem;
    cursor: pointer;
    border-radius: 5px;
    &:hover {
      opacity: 0.7;
    }
  }

  .buttons-course-container {
    @include flex(space-between, center);
    gap: 0.5rem;

    @media (max-width: 516px) {
      @include flexColumn(center, center);
      margin-top: 0.5rem;
    }
  }
  .delete-course-button {
    background-color: $myRed;
  }

  .edit-course-button {
    background-color: #ffa500;
  }

  .add-course-button {
    background-color: #32cd32;
    color: #fff;
    padding: 1rem;
    width: 30%;
    font-size: 1rem;

    @media (max-width: 516px) {
      width: 70%;
      padding: 0.75rem;
    }
  }
}

.welcome-dashboard {
  color: #fff;
}

.days {
  @include flexColumn(center, center);

  @media (max-width: 516px) {
    align-items: flex-start;
  }
}

.title {
  color: $myBlue;
}
.detail {
  color: $myLightBlue;
}
