.lessons {
  display: grid;
  justify-items: center;
  // @include flexColumn(space-evenly, center);
  width: 100%;
  height: calc(100vh - 4rem);
  margin: 4rem auto;
  overflow-y: auto;
  gap: 0.5rem;

  //   @media (max-width: 516px) {
  //     display: grid;
  //     justify-items: center;
  //   }

  .course-details-container {
    @include flex(space-between, center);
    padding: 0.5rem 1rem;
    width: 100%;
    border-bottom: 1px solid #ccc;
    font-size: 0.8rem;

    @media (max-width: 516px) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);

      gap: 0.5rem;
    }

    select {
      // outline: 1px solid $myBlue;
      // display: block;

      border: none;

      // color: $myBlue;

      color: #333;

      outline: 0.5px solid $myBlue;
      border-radius: 3px;
      padding: 0.3125rem;
      min-width: 6.25rem;
    }
    option {
      font-size: 0.75rem;
      color: $myLightBlue;
    }
  }

  span {
    display: block;
    margin: 0;
    padding: 0;
    font-weight: bold;
  }

  // select {
  //   border: none;
  //   outline: none;
  //   color: $myBlue;
  //   font-weight: 700;
  //   text-align: center;
  // }
  // option {
  //   font-size: 0.75rem;
  //   color: $myLightBlue;
  // }

  h2 {
    color: $myBlue;
    margin: 0;
    padding: 0;
  }
  select {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  button {
    background-color: $myBlue;
    color: #fff;
    border: none;
    padding: 0.75rem;
    cursor: pointer;
    border-radius: 5px;
    &:hover {
      opacity: 0.7;
    }
    &:disabled {
      opacity: 0.5;
      pointer-events: none;
    }
  }

  // .buttons-course-container {
  //   @include flex(space-between, center);
  //   gap: 0.5rem;

  //   @media (max-width: 516px) {
  //     @include flexColumn(center, center);
  //     margin-top: 0.5rem;
  //   }
  // }
  .delete-course-button {
    background-color: $myRed;
  }

  .edit-course-button {
    background-color: #ffa500;
  }

  .add-course-button {
    background-color: #32cd32;
    color: #fff;
    padding: 1rem;
    width: 30%;
    font-size: 1rem;

    @media (max-width: 516px) {
      width: 70%;
      padding: 0.75rem;
    }
  }
}

.welcome-dashboard {
  color: #fff;
}

.days {
  @include flexColumn(center, center);

  @media (max-width: 516px) {
    align-items: flex-start;
  }
}

.title {
  color: $myBlue;
}
.detail {
  color: $myLightBlue;
}

.buttons-course-container {
  @include flex(space-between, center);
  gap: 0.5rem;

  @media (max-width: 516px) {
    @include flexColumn(center, center);
    margin-top: 0.5rem;
  }
}
