* {
  box-sizing: border-box;
  direction: rtl;
  font-family: "Assistant", sans-serif;
}

html {
  font-size: 16px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  margin: 0;
}

.header-container {
  display: grid;
  grid-template-rows: 1fr 2fr 0.2fr;
  grid-template-areas: "nav-bar" "poster-headline" "subtext-head";
  width: 100%;
  gap: 0.3rem;
  padding: 1rem;
}
@media (max-width: 926px) {
  .header-container {
    padding: 1rem;
    grid-template-rows: auto auto auto;
  }
}
.header-container .career {
  position: relative;
  cursor: pointer;
}
.header-container .career .career-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: absolute;
  top: 0;
  z-index: 1;
  gap: 1rem;
  padding: 1rem;
  list-style: none;
  background-color: #213b7f;
}
.header-container .career .career-list .career-type .links-career {
  color: #fff;
  font-weight: 700;
}
.header-container .career .career-list .career-type .links-career:hover {
  background-color: #fff;
  color: #213b7f;
}
.header-container .nav-bar {
  grid-area: nav-bar;
  display: grid;
  grid-template-areas: 1fr 1fr;
  grid-template-columns: auto auto auto;
  grid-template-areas: "logo navigator-bar mobile-menu-container" "mobile-menu . .";
  position: sticky;
  top: 0;
  white-space: nowrap;
  background-color: #fff;
}
@media (max-width: 926px) {
  .header-container .nav-bar {
    justify-content: space-between;
    align-items: center;
  }
}
.header-container .nav-bar .logo {
  grid-area: logo;
  cursor: pointer;
}
.header-container .nav-bar .logo div {
  position: relative;
  top: -2.1875rem;
  font-size: 0.6rem;
  font-weight: 700;
  color: #7e685a;
}
.header-container .nav-bar .navigator-bar {
  grid-area: navigator-bar;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  white-space: nowrap;
  gap: 1rem;
  padding: 1rem;
}
@media (max-width: 1029px) {
  .header-container .nav-bar .navigator-bar {
    font-weight: 500;
  }
}
.header-container .nav-bar .navigator-bar .links a {
  text-decoration: none;
  color: #000;
}
.header-container .nav-bar .navigator-bar .links a:hover {
  color: #213b7f;
  font-weight: 700;
}
@media (max-width: 926px) {
  .header-container .nav-bar .navigator-bar {
    display: none;
  }
}

.poster-headline {
  grid-area: poster-headline;
  background-color: #154b9c;
  color: #fff;
  text-align: center;
}
.poster-headline .div1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  line-height: 0.8;
  font-weight: 800;
  font-size: 5.625rem;
}
.poster-headline .div1 .span1 {
  font-weight: 800;
  font-size: 7.5rem;
  margin: 0;
}

.subtext-head {
  grid-area: subtext-head;
  background-color: #eff6df;
  color: #000;
  padding: 10px;
  text-align: center;
}

.mobile-menu-container {
  display: none;
  grid-area: mobile-menu-container;
}
.mobile-menu-container .icon-menu .line-top {
  transform: translateY(1.4rem) rotate(45deg);
  transition: all 0.5s linear;
}
.mobile-menu-container .icon-menu .line-mid {
  visibility: hidden;
  transition: all 0.2s linear;
}
.mobile-menu-container .icon-menu .line-bottom {
  transform: rotate(-45deg);
  transition: all 0.5s linear;
}
.mobile-menu-container .line {
  width: 40px;
  height: 5px;
  background-color: #213b7f;
  margin: 6px 0;
  border-radius: 10px;
  cursor: pointer;
}
@media (max-width: 926px) {
  .mobile-menu-container {
    display: block;
  }
}

.open {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-direction: column;
}

.mobile-menu {
  display: flex;
  grid-area: mobile-menu;
  align-items: flex-end;
  direction: ltr;
  gap: 1rem;
  list-style: none;
  background-color: #fff;
}
.mobile-menu li {
  padding: 5px;
}
.mobile-menu a {
  text-decoration: none;
  color: black;
}
.mobile-menu a:hover {
  color: #213b7f;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  gap: 1rem;
  padding: 1rem;
}
.main-container .first-part-main {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  padding: 1rem;
}
.main-container .first-part-main .header-and-courses .curses-container {
  direction: ltr;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 40rem;
  padding: 1rem;
}
.main-container .first-part-main .header-and-courses .curses-container .course {
  cursor: pointer;
  text-align: center;
  padding-bottom: 3rem;
}
.main-container .first-part-main .header-and-courses .curses-container .course div:hover {
  opacity: 0.5;
}
.main-container .first-part-main .main-form {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  width: 336px;
  background-color: #213b7f;
  color: #fff;
  font-size: 1rem;
  font-weight: 800;
  font-size: 0.8rem;
}
.main-container .first-part-main .main-form .main-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 0.5rem;
  gap: 1rem;
  margin: 12px;
  color: black;
}
.main-container .first-part-main .main-form .main-input .sepa {
  position: relative;
  float: left;
  background-color: #213b7f;
  width: 3px;
  height: 1.3rem;
  border-radius: 20px;
}
.main-container .first-part-main .main-form .main-input input {
  padding: 0.8rem;
  width: 70%;
  height: 3rem;
  border: none;
  background-color: #fff;
}
.main-container .first-part-main .main-form a {
  color: #fff;
  font-size: 1rem;
  font-weight: 800;
  font-size: 0.8rem;
  line-height: 0.3;
}
.main-container .first-part-main .main-form h2 {
  margin: 0;
}
@media (max-width: 926px) {
  .main-container .first-part-main .main-form {
    display: none;
  }
}
.main-container .second-part-main {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 1rem;
  box-shadow: 10px 0 100px #000;
  background: url("./images/background_main.png");
}
.main-container .second-part-main .first-section .second-line {
  font-weight: 700;
}
.main-container .second-part-main .first-section .third-line {
  color: blue;
}
.main-container .second-part-main .second-section {
  display: flex;
  justify-content: center;
  padding: 1rem;
  margin: 1rem;
  gap: 1rem;
}
.main-container .second-part-main .second-section .background-black-part {
  transition: 0.5s linear;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: none;
  width: 50%;
  max-width: 550px;
  padding: 1rem;
  background-color: #000;
  color: #fff;
  font-size: 1.1rem;
}
.main-container .second-part-main .second-section .background-black-part:hover {
  transform: scale(1.1);
  box-shadow: 10px 50px 100px #000;
}
.main-container .second-part-main .second-section .background-black-part .first-part-in-paragraph span {
  font-weight: 700;
}
.main-container .second-part-main .second-section .backgorund-white-part {
  transition: 0.5s linear;
  width: 50%;
  max-width: 550px;
  background-color: #eff6df;
  padding: 1rem;
  font-size: 1.1rem;
}
.main-container .second-part-main .second-section .backgorund-white-part:hover {
  transform: scale(1.1);
  box-shadow: 10px 50px 100px #000;
}
.main-container .second-part-main .second-section .backgorund-white-part .head-paragraph span {
  font-weight: 700;
}
.main-container .second-part-main h1 {
  text-align: center;
  margin: 0;
}
.main-container .third-part-main {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem;
  width: 100%;
  height: 100%;
}
.main-container .third-part-main img {
  max-width: 100px;
  max-height: 100px;
  margin: 22px;
  flex-shrink: 0;
  object-fit: fill;
}
.main-container .four-part-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1rem;
  background: url("./images/background_main.png");
}
.main-container .four-part-main h2 {
  margin: 0;
}
.main-container .four-part-main .about-us {
  font-size: 1.2rem;
}
.main-container .four-part-main .three-par {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main-container .four-part-main .how-it-work {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}
@media (max-width: 900px) {
  .main-container .four-part-main .how-it-work {
    display: flex;
    flex-direction: column;
  }
  .main-container .four-part-main .how-it-work .context-diagnos,
  .main-container .four-part-main .how-it-work .context-training,
  .main-container .four-part-main .how-it-work .context-career,
  .main-container .four-part-main .how-it-work .context-process {
    display: none;
  }
}
.main-container .four-part-main .how-it-work .sign {
  display: none;
}
@media (max-width: 900px) {
  .main-container .four-part-main .how-it-work .sign {
    display: block;
  }
}
.main-container .four-part-main .how-it-work .block-design {
  color: #fff;
  padding: 1rem;
  font-size: 1.2rem;
}
.main-container .four-part-main .how-it-work .diagnosis {
  background-color: #0598a8;
}
.main-container .four-part-main .how-it-work .diagnosis .header-diagnos {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-container .four-part-main .how-it-work .training-path {
  background-color: #39a4dc;
}
.main-container .four-part-main .how-it-work .training-path .header-training {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-container .four-part-main .how-it-work .new-career {
  background-color: #213b7f;
}
.main-container .four-part-main .how-it-work .new-career .header-career {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-container .four-part-main .how-it-work .process {
  background-color: #06f;
}
.main-container .four-part-main .how-it-work .process .header-process {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-container .four-part-main .how-it-work .line {
  width: 40px;
  height: 5px;
  background-color: #fff;
  margin: 6px 0;
  border-radius: 10px;
  cursor: pointer;
}

.footer-page {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  background-color: #213b7f;
  gap: 1rem;
  padding: 1rem;
  color: #fff;
}
.footer-page .check-box label {
  color: #000;
  font-size: 1rem;
  font-weight: 700;
}
.footer-page .text-footer {
  font-size: 1rem;
  margin: 0;
}
.footer-page .contact-form {
  display: flex;
  gap: 1rem;
}
@media (max-width: 65rem) {
  .footer-page .contact-form {
    flex-direction: column;
  }
}
.footer-page .contact-form input {
  width: 12.5rem;
  height: 3rem;
  border: none;
  background-color: #fff;
}
.footer-page .contact-form .footer-input {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-right: 1rem;
  color: black;
  background-color: gainsboro;
}
.footer-page a {
  color: #fff;
  font-size: 0.8rem;
}

.contact-btn {
  width: 12.5rem;
  height: 3rem;
  border: 1px aqua solid;
  background-color: antiquewhite;
  font-size: 1.5rem;
  cursor: pointer;
}

.none {
  display: none;
}

input::placeholder {
  color: red;
  font-size: 0.8rem;
  font-weight: 700;
}
