.student-list {
  @include flexColumn(flex-start, center);
  width: 100%;
  height: calc(100vh - 4rem);
  margin-top: 4rem;
  margin-bottom: 4rem;
  overflow-y: auto;
  gap: 0.5rem;

  .student-details-container {
    @include flex(space-between, center);
    padding: 0.5rem;
    width: 100%;
    border-bottom: 1px solid #ccc;
    gap: 0.5rem;

    @media (max-width: 516px) {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      margin-top: 1rem;
      gap: 0.5rem;
      // flex-direction: column;
      // align-items: flex-start;
      // justify-content: space-around;
    }
  }

  span {
    display: block;
    margin: 0;
    padding: 0;
    font-weight: bold;
  }

  h2 {
    color: $myBlue;
    margin: 0;
    padding: 0;
  }

  button {
    background-color: $myRed;
    color: #fff;
    border: none;
    padding: 0.75rem;
    cursor: pointer;
    border-radius: 5px;
    &:hover {
      opacity: 0.7;
    }
  }
}

.title {
  color: $myBlue;
}
.detail {
  color: $myLightBlue;
}

.message {
  @include flex(center, center);
  color: #32de84;
  border-radius: 5px;
  padding: 0.5rem;
  text-align: center;
}

.empty-student-list {
  background-image: url("../../../../public/ae8ac2fa217d23aadcc913989fcc34a2.jpg");
  // background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  @include flexColumn(center, center);
  color: $myRed;
  // border-radius: 5px;
  height: 100vh;
  width: 70vw;
  font-size: 5vh;
  // span {
  //   position: fixed;
  //   top: 9rem;
  // }
  button {
    position: absolute;
    bottom: 0;
    padding: 1rem;
    background-color: $myLightBlue;
  }
}
