.header-container {
  width: 100%;
  height: 4rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: $myBlue;
  box-shadow: 0 0 5px 0 $myBlue;
}

.header_nav {
  @include flex(space-between, center);
  width: 70%;
  height: 100%;
  margin: 0 1rem;

  a {
    @extend %a-nav;
  }

  img {
    position: absolute;
    right: 0;
    width: 10vw;
    height: 7vh;
    border: none;
    border-radius: 5px;
    mix-blend-mode: multiply;
    cursor: pointer;
  }
}

.welcome-and-logout-container {
  @include flex(space-between, center);
  .logout-button {
    // color: #a2b223;
    color: #848484;

    // color: rgb(85, 187, 51);
  }
  button {
    color: $myYellow;
    background-color: $myBlue;
    border: 1px solid $myBlue;
    padding: 0.75rem;
    font-size: 1rem;

    cursor: pointer;
    &:hover {
      opacity: 0.7;
    }
  }
}
