@use "./logic-style.scss" as variables;

* {
  box-sizing: border-box;
  direction: rtl;
  font-family: "Assistant", sans-serif;
}

html {
  font-size: 16px;
}

body {
  @include variables.flexalignaItem(center);
  flex-direction: column;

  width: 100vw;
  height: 100vh;
  margin: 0;
}

//----------------------Header section----------------------------------\\
.header-container {
  @include variables.flexJustifyContent(space-evenly);
  flex-direction: column;
  gap: 0.3rem;
  padding: 1rem;
  width: 100%;
  height: 100vh;

  .career::after {
    content: "|";
    font-size: 1.5rem;
    margin-right: 0.2rem;
    position: relative;
    bottom: -0.1rem;
  }

  .career {
    position: relative;
    cursor: pointer;

    .fa {
      position: relative;
      top: -0.1rem;
    }

    .career-list {
      @include variables.flexJustifyContent(flex-start);
      flex-direction: column;
      position: absolute;
      top: 0;
      gap: 1rem;
      padding: 1rem;
      width: 500px;
      margin-top: 2rem;
      list-style: none;
      background-color: variables.$colorHover;

      .career-type {
        .links-career {
          color: #fff;
          font-weight: 700;
          text-decoration: none;
        }

        .links-career:hover {
          background-color: #fff;
          color: variables.$colorHover;
        }
      }
    }
  }

  .nav-bar {
    @include variables.flex(center, center);
    position: sticky;
    top: 0;
    margin-top: 0;
    margin-bottom: 0;
    height: 60px;
    background-color: #fff;

    @media (max-width: 926px) {
      justify-content: space-between;
      align-items: center;
    }

    .logo {
      position: relative;
      cursor: pointer;

      .logo-img {
        height: 60px;
      }

      div {
        position: absolute;
        top: 2.5rem;

        font-size: 0.6rem;
        font-weight: 700;
        color: #7e685a;
      }
    }

    .navigator-bar {
      @include variables.flex(flex-start, flex-end);
      gap: 0.5rem;
      margin: 1rem;

      #for-the-public {
        ::after {
          content: none;
        }
      }

      .links {
        ::after {
          content: "|";
          font-size: 1.5rem;
          margin-right: 0.2rem;
          position: relative;
          bottom: -0.1rem;
        }

        a {
          text-decoration: none;
          color: #000;
        }

        a:hover {
          color: variables.$colorHover;
          font-weight: 700;
        }
      }

      @media (max-width: 926px) {
        display: none;
      }
    }
  }
}

.poster-headline {
  background-color: variables.$colorForBanners;
  color: #fff;
  text-align: center;

  .div1 {
    @include variables.flexalignaItem(center);
    flex-direction: column;

    padding: 1rem;
    line-height: 0.8;
    font-weight: 800;
    font-size: 5.625rem;

    .span1 {
      font-weight: 800;
      font-size: 7.5rem;
      margin: 0;
    }
  }
}

.subtext-head {
  @include variables.flex(center, center);
  background-color: #eff6df;
  color: #000;
  padding: 10px;
}

.mobile-menu-container {
  display: none;

  .career-section-on-mobile-menu {
    position: relative;

    .fa {
      position: relative;
      top: -0.1rem;
    }
  }

  .icon-menu {
    .line-top {
      transform: translateY(1.4rem) rotate(45deg);
      transition: all 0.5s linear;
    }

    .line-mid {
      visibility: hidden;
      transition: all 0.2s linear;
    }

    .line-bottom {
      transform: rotate(-45deg);
      transition: all 0.5s linear;
    }
  }

  .line {
    width: 40px;
    height: 5px;
    background-color: variables.$colorHover;
    margin: 6px 0;
    border-radius: 10px;
    cursor: pointer;
  }

  @media (max-width: 926px) {
    display: block;
  }
}

.open {
  @include variables.flex(space-evenly, flex-start);
  flex-direction: column;
}

.mobile-menu {
  @include variables.flexalignaItem(flex-end);
  flex-direction: column;
  direction: ltr;
  position: absolute;
  max-height: none;
  left: 0;
  gap: 1rem;
  width: 100%;
  list-style: none;
  background-color: #fff;
  font-size: 1.2rem;
  transition: all 0.2s ease-in-out;

  .career-section-on-mobile-menu {
    @include variables.flexalignaItem(flex-start);
    flex-direction: column;
    width: 100vw;

    .wraper-for-head-and-sign {
      cursor: pointer;
    }

    .career-menu-mobile {
      list-style: none;
      direction: ltr;
      text-align: right;
      margin: 0.5rem 0;

      .career-type-mobile {
        width: 100vw;
        padding: 1rem;
        border-bottom: 1px dashed black;
        font-size: 1.2rem;
        cursor: pointer;
      }
    }
  }

  li {
    padding: 5px;
  }

  a {
    text-decoration: none;
    color: black;
  }

  a:hover {
    color: variables.$colorHover;
  }
}

//----------------------Main section----------------------------------\\
.main-container {
  @include variables.flexJustifyContent(space-around);
  flex-direction: column;
  padding: 1rem;

  .modal-send-details-container {
    @include variables.flex(center, center);
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.293);
    z-index: 5;

    .modal-send-details {
      @include variables.flex(space-evenly, center);
      flex-direction: column;
      position: relative;
      width: 600px;
      height: 400px;
      background-color: #fff;

      h2 {
        font-size: 4rem;
        margin: -4rem;
      }

      .text-modal {
        display: flex;
        flex-direction: column;
        font-size: 2.4rem;
        padding: 1rem;
        padding-top: 0;
        margin-top: -3rem;
      }

      .fa-check-circle-o {
        color: green;
        position: absolute;
        bottom: 1rem;
        left: 1.8rem;
      }

      .fa-times {
        position: absolute;
        left: 1rem;
        top: 1rem;
      }
    }
  }

  .modal-container {
    @include variables.flex(center, center);
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.293);
    z-index: 5;

    @media (max-width: 900px) {
      display: none;
    }

    .modal {
      @include variables.flex(space-evenly, center);
      flex-direction: column;
      border-radius: 100%;
      width: 600px;
      height: 600px;
      background: url("../images/modal.jpg");
      background-size: contain;

      .modal-sign {
        @include variables.flexJustifyContent(center);
        position: relative;
        top: 30px;
        width: 30px;
        height: 30px;
        cursor: pointer;

        #line1 {
          transform: rotate(45deg);
        }

        #line2 {
          transform: rotate(130deg);
        }

        .line {
          width: 2px;
          height: 30px;
          background-color: #000;
        }
      }

      .contact-modal {
        @include variables.flex(space-around, center);
        flex-direction: column;
        height: 100%;

        .header-modal {
          @include variables.flex(center, center);
          flex-direction: column;
          text-align: start;
          font-size: 1.5rem;

          h2 {
            color: variables.$colorForBanners;
            text-align: center;
            width: 75%;
          }
        }

        .modal-form {
          display: flex;
          flex-direction: column;
          max-width: 400px;
          width: 55vw;
          color: #040ea3;

          .modal-input::placeholder {
            color: #040ea3;
          }

          .modal-input {
            padding: 1rem;
            margin: 1rem;
            outline: none;
          }

          .modal-checkbox {
            @include variables.flexalignaItem(center);
            padding-right: 2.5rem;
            font-size: 0.9rem;
          }

          button {
            max-width: 200px;
            height: 55px;
            font-size: 1.2rem;
            margin-right: 5rem;
            background-color: variables.$colorForBanners;
            color: #fff;
            cursor: pointer;
          }
        }
      }
    }
  }

  .first-part-main {
    @include variables.flex(space-evenly, center);
    padding: 1rem;

    .header-and-courses {
      @include variables.flexJustifyContent(space-evenly);
      flex-direction: column;

      h1 {
        margin: 0;
        text-align: center;
      }

      .curses-container {
        direction: ltr;
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;

        padding: 1rem;
        gap: 1rem;

        @media (max-width: 925px) {
          @include variables.flexJustifyContent(space-evenly);
          flex-wrap: wrap;
        }

        .course {
          cursor: pointer;
          max-width: 8rem;
          max-height: 9.5rem;

          div {
            text-align: center;
          }

          div:hover {
            opacity: 0.5;
          }
        }
      }
    }

    .main-form {
      @include variables.flex(flex-start, center);
      flex-direction: column;
      gap: 1rem;
      padding: 1rem;
      width: 336px;

      background-color: variables.$colorHover;
      color: #fff;
      font-size: 1rem;
      font-weight: 800;
      font-size: 0.8rem;

      .main-input {
        @include variables.flex(space-between, center);
        background-color: #fff;
        padding: 0.5rem;
        gap: 1rem;
        margin: 12px;
        color: black;

        .sepa {
          position: relative;
          float: left;
          background-color: variables.$colorHover;
          width: 3px;
          height: 1.3rem;
          border-radius: 20px;
        }

        input {
          padding: 0.8rem;
          width: 70%;
          height: 3rem;
          border: none;
          background-color: #fff;
          outline: none;
        }
      }
      a {
        color: #fff;
        font-size: 1rem;
        font-weight: 800;
        font-size: 0.8rem;
        line-height: 0.3;
      }
      h2 {
        margin: 0;
      }

      @media (max-width: 926px) {
        display: none;
      }
    }
  }

  .second-part-main {
    @include variables.flex(space-evenly, center);
    flex-direction: column;
    flex-wrap: wrap;
    padding: 1rem;
    width: 100vw;
    box-shadow: 3px -5px 10px -5px;
    background: url("./images/background_main.png");

    .first-section {
      .second-line {
        font-weight: 700;
      }

      .third-line {
        color: blue;
      }
    }

    .second-section {
      @include variables.flexJustifyContent(center);
      padding: 1rem;
      margin: 1rem;
      gap: 1rem;

      @media (max-width: 900px) {
        flex-direction: column;
      }

      .background-black-part {
        @include variables.flexJustifyContent(center);
        flex-direction: column;
        padding: 1rem;
        max-width: 600px;
        border: none;
        background-color: #000;
        color: #fff;
        font-size: 1.1rem;
        transition: 0.5s linear;

        &:hover {
          transform: scale((1.1));
          box-shadow: 10px 50px 100px #000;
        }

        .first-part-in-paragraph {
          span {
            font-weight: 700;
          }
        }
      }

      .backgorund-white-part {
        transition: 0.5s linear;
        background-color: #eff6df;
        padding: 1rem;
        font-size: 1.1rem;
        max-width: 600px;

        &:hover {
          transform: scale((1.1));
          box-shadow: 10px 50px 100px #000;
        }

        .head-paragraph {
          span {
            font-weight: 700;
          }
        }
      }
    }

    h1 {
      text-align: center;
      margin: 0;
    }
  }

  .third-part-main {
    @include variables.flex(space-evenly, center);
    flex-wrap: wrap;
    padding: 2rem;
    width: 100vw;
    height: 100%;

    img {
      max-width: 100px;
      max-height: 100px;
      margin: 22px;
      flex-shrink: 0;
      object-fit: fill;
    }
  }

  .four-part-main {
    @include variables.flexalignaItem(center);
    flex-direction: column;
    padding: 1rem;
    width: 100vw;
    background: url("./images/background_main.png");

    .about-us {
      padding: 3rem;
      font-size: 1.1rem;
      max-width: 1100px;
    }

    .three-par {
      @include variables.flexJustifyContent(center);
      flex-direction: column;
    }

    .how-it-work {
      display: grid;
      grid-template-rows: 1fr 1fr;
      grid-template-columns: 1fr 1fr;

      @media (max-width: 960px) {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 1rem;
        padding-right: 1rem;

        .context-process {
          max-height: 93.75rem;
          transition: all 0.2s ease-in-out;
        }
        .context-diagnos {
          max-height: 93.75rem;
          transition: all 0.2s ease-in-out;
        }

        .context-training {
          max-height: 93.75rem;
          transition: all 0.2s ease-in-out;
        }

        .context-career {
          max-height: 93.75rem;
          transition: all 0.2s ease-in-out;
        }
      }

      .shape {
        height: 0;
        width: 0;
        border: 25px solid #fff;

        @media (max-width: 960px) {
          display: none;
        }
      }

      .sign {
        transform: rotate(45deg);
        transition: transform 0.5s ease-in-out;
      }

      .block-design {
        color: #fff;
        padding: 2rem;
        font-size: 1.2rem;
        max-width: 600px;

        @media (max-width: 960px) {
          max-width: none;
        }
      }

      .diagnosis {
        background-color: #0598a8;

        #sign-diagnos {
          display: none;
          cursor: pointer;
          transition: transform 0.5s ease-in-out;
          color: #000;
          font-weight: 100;

          @media (max-width: 960px) {
            display: block;
          }
        }

        .shape-diagnosis {
          position: relative;
          float: left;
          right: 5.1rem;
          top: 4rem;
          margin-top: -60px;
          border-top-color: transparent;
          border-bottom-color: transparent;
          border-left-color: transparent;
          border-right-color: #0598a8;
        }

        .header-diagnos {
          @include variables.flex(space-between, center);
        }
      }

      .training-path {
        background-color: #39a4dc;

        #sign-training {
          display: none;
          cursor: pointer;
          transition: transform 0.5s ease-in-out;
          color: #000;
          font-weight: 100;

          @media (max-width: 960px) {
            display: block;
          }
        }

        .shape-training {
          position: relative;
          float: bottom;
          right: 30rem;
          bottom: -36rem;
          margin-top: -60px;
          border-top-color: #39a4dc;
          border-bottom-color: transparent;
          border-left-color: transparent;
          border-right-color: transparent;
        }

        .header-training {
          @include variables.flex(space-between, center);
        }
      }

      .new-career {
        background-color: #213b7f;

        #sign-career {
          display: none;
          cursor: pointer;
          transition: transform 0.5s ease-in-out;
          color: #000;
          font-weight: 100;

          @media (max-width: 960px) {
            display: block;
          }
        }

        .header-career {
          @include variables.flex(space-between, center);
        }
      }

      .process {
        background-color: #06f;

        #sign-process {
          display: none;
          cursor: pointer;
          transition: transform 0.5s ease-in-out;
          color: #000;
          font-weight: 100;

          @media (max-width: 960px) {
            display: block;
          }
        }

        .shape-process {
          position: relative;
          float: right;
          right: -5rem;
          top: 4rem;
          margin-top: -60px;
          border-top-color: transparent;
          border-bottom-color: transparent;
          border-left-color: #06f;
          border-right-color: transparent;
        }
        .header-process {
          @include variables.flex(space-between, center);
        }
      }
    }
  }

  .five-part-main {
    @include variables.flexalignaItem(center);
    flex-direction: column;
    padding: 3rem;
    gap: 2rem;
    width: 100vw;
    background-color: #fff6df;

    h2 {
      text-align: center;
    }

    .questions-part {
      display: grid;
      grid-template-columns: 1fr 1fr;

      margin-right: 5rem;
      margin-left: 5rem;
      cursor: pointer;

      @media (max-width: 900px) {
        display: flex;
        flex-direction: column;
        width: 100%;
      }

      .questions {
        .question-and-answer {
          border: 0.5px solid #dbdbdb;
          border-left: none;
          border-right: none;
          border-bottom: none;
          padding: 1rem;
          margin: 1rem;

          .quest {
            @include variables.flex(space-between, center);
            color: #007cba;
            font-size: 1.1rem;
          }

          .answer {
            display: block;
            max-height: 400px;
            transition: all 0.2s ease-in-out;
          }
        }
      }
    }
  }

  .six-part-main {
    @include variables.flexalignaItem(center);
    flex-direction: column;
    padding: 3rem;
    width: 100vw;
    background: url("./images/background_main.png");

    .public-service-container {
      display: flex;

      @media (max-width: 925px) {
        flex-direction: column;
        padding: 1rem;
        width: 100vw;
      }

      .public-questions {
        .public-question-and-answer {
          border: 0.5px solid #dbdbdb;
          border-left: none;
          border-right: none;
          border-bottom: none;
          padding: 1rem;
          padding-bottom: 0;
          margin: 1rem;
          cursor: pointer;

          .public-answer {
            display: block;
            font-size: 1.1rem;
            max-width: 23rem;
            max-height: 40rem;
            transition: all 0.2s ease-in-out;
          }

          .public-quest {
            @include variables.flex(space-between, center);

            @media (min-width: 925px) {
              max-width: 378px;
              height: 53px;
            }

            color: #007cba;
            font-size: 1.1rem;
          }
        }
      }
    }
  }
}

//----------------------Footer section----------------------------------\\
.footer-page {
  @include variables.flex(space-between, center);
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  background-color: variables.$colorHover;
  gap: 1rem;
  padding: 1rem;
  color: #fff;

  .check-box {
    label {
      color: #000;
      font-size: 1rem;
      font-weight: 700;
    }
  }

  .text-footer {
    font-size: 1rem;
    margin: 0;
  }

  .contact-form {
    @include variables.flex(center, center);
    width: 100%;
    max-width: 59.375rem;
    margin: 0 auto;

    @media (max-width: 65rem) {
      flex-direction: column;
    }

    .footer-input {
      @include variables.flex(flex-start, center);
      background-color: #fff;
      height: 3.75rem;
      width: 22%;
      max-width: 16.25rem;
      margin: 1.25rem 0.31rem;

      @media (max-width: 65rem) {
        width: 100%;
        max-width: 37.5rem;
      }

      input {
        width: 70%;
        max-width: 15.625rem;
        height: 100%;
        border: none;
        outline: none;
      }

      label {
        width: 25%;
        margin-left: 0.625rem;
        font-size: 0.9rem;
        padding-right: 0.3125rem;
        color: #373737;
        font-weight: 700;
      }

      .sepa {
        position: relative;
        float: left;
        background-color: variables.$colorHover;
        width: 3px;
        height: 1.3rem;
        border-radius: 20px;
      }
    }
  }

  a {
    color: #fff;
    font-size: 0.8rem;
  }
}

.contact-btn {
  width: 12.5rem;
  height: 3.75rem;
  border: 1px aqua solid;
  background-color: antiquewhite;
  font-size: 1.5rem;
  cursor: pointer;
}

//----------------------helper classes section----------------------------------\\
.none {
  display: none;
}

.custom-none-for-menu-mobile {
  visibility: hidden;

  height: 0;

  width: 0;
  transition: all 0.2s ease-in-out;
}

.custom-none-for-work {
  @media (max-width: 960px) {
    visibility: hidden;
    max-height: 0;
    transition: all 0.2s ease-in-out;
  }
}

.custom-none-for-answer {
  visibility: hidden;
  max-height: 0;
  transition: all 0.2s ease-in-out;
}

.custom-none-for-public-answer {
  visibility: hidden;
  max-height: 0;
  max-width: 23rem;
  transition: all 0.2s ease-in-out;
}

input::placeholder {
  color: red;
  font-size: 0.8rem;
  font-weight: 700;
}

.whats-up {
  @include variables.flex(space-evenly, center);
  position: fixed;
  top: 90vh;
  right: 1rem;
  width: 15rem;
  height: 2rem;
  border: 2px solid greenyellow;
  border-radius: 20px;
  background-color: #06f;
  color: #fff;
  cursor: pointer;

  @media (max-width: 925px) {
    display: none;
  }
}

.shortcut-contact-mobile {
  display: none;

  @media (max-width: 925px) {
    @include variables.flexJustifyContent(center);
    width: 100%;
    position: sticky;
    bottom: 0;
  }
  .contact-mobile-down {
    @include variables.flex(center, center);
    width: 50%;
    margin: 1px;
    background-color: #06f;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 500;
    padding: 1rem;
    cursor: pointer;
  }
}
